.App {
  text-align: center;
}

.List {
  display: flex;
  /* justify-content: flex-start; */
  flex-direction: column;
  align-items: flex-start;
}

.ListItem-line {
  stroke: rgb(255, 0, 0);
  stroke-width: 20;
}

.ListItem {
  display: flex;
}

.ListItem-graph {
  display: flex;
  flex-direction: column;
}

.ListItem-track {
  margin: 0;
}

.hover {
  fill: red;
  stroke-width: 2px;
}

.BackgroundLine {
  fill: white;
}
.BackgroundLine:hover {
  fill: grey;
}

.Feature {
  cursor: pointer;
}
